[2020-11-12 15:15] jonathan-meyer opened #6 "Schema Schema"
Is there a Schema for the Schema?

[code]

[2020-11-12 16:27] ThomasAribart commented on #6
Hi @jonathan-meyer,

Hi Jonathan,

It seems like https://www.npmjs.com/package/@types/json-schema would do the trick.

However, it will not work with json-schema-to-ts, as `FromSchema` needs the hard type of the schema to do the parsing. Here, `type` should be typed as the `"object"` string and not a general string or a union of string containing `"object"`, which would be the case if you assign `

[2020-11-28 19:12] ThomasAribart commented on #6
Hi @jonathan-meyer,

Since v1.4.0, `FromSchema` now checks that your schema extends DefinitelyTyped's definitions before parsing it 🎉 Thus, giving you a clear error on what's wrong.

<img width="440" alt="yo ts — safetracker 2020-11-28 20-00-27" src="https://user-images.githubusercontent.com/38014240/100524151-13260600-31b6-11eb-9dac-dc0c1fbbfa99.png">

You won't have all the benefits that you wou

[2020-11-28 19:51] #6 closed

[2021-02-24 21:04] jbward1 opened #13 "Schema Definitions Arn't Supported"
I was attempting to define a schema definition inside my json schema and i'm not getting type validation for the definition value `S`. I used the `Sample Input` to verify against the `Reference Json Schema`

Sample Input
[code]

Reference Json Schema
[code]

[2021-02-25 08:39] ThomasAribart commented on #13
Hello @jbward1 !

Indeed, as mentioned in the docs, the `definitions` keyword is not supported yet.

I have good hope it is implementable, but it'll need at least TypeScript 4.1 and I'm not sure many projects use it yet. So for the moment, it's not prioritized.

Meanwhile, you can simply define your definition in a TS const:

[code]

[2021-02-26 02:05] jbward1 commented on #13
Thanks for the quick reply / workaround! An sorry, missed that definitions weren’t supported in the docs

did you want me to close this ticket?

[2021-03-02 03:34] arose opened #14 "Any limits on the size of the schema?"
Really nice project, thank you!

Anyone tried it with large schemas and seen 1) performance degradation or 2) tsc using more relaxed typings because of the size?

[2021-03-02 08:17] ThomasAribart commented on #14
Hello Alexander !

Thanks for the feedback 🤗

I use json-schema-to-ts on a large backend project (~200 routes, one schema each, small to medium-size), and did not notice any performance degradation. Our type test runs in ~20s.

I haven’t received any other feedback on performance degradation for the moment, so I think it’s ok.

I also never saw tsc relaxing the types.

The only issue I found on (v

[2021-03-08 23:32] kpeters-cbsi opened #15 "Support for "uri" type?"
The following code gives me an error in vscode intellisense:

[code]

The error I get is: `Types of property 'type' are incompatible. Type '"uri"' is not assignable to type 'JSONSchema6TypeName | readonly JSONSchema6TypeName[] | undefined'.ts(2344)`

But when I change the type for "url" to "string", the problem goes away. Is the "uri" type not supported?

[2021-03-09 12:05] ThomasAribart commented on #15
Hi @kpeters-cbsi,

Indeed, the "uri" type is not supported, but as the error mentioned, it is not valid type of v6 JSON schemas, on which `FromSchema` is based.

I don't think it is a valid v7 JSON schema neither. According to the following spec, the `format` keyword is probably what you're looking for:

[code]

See the docs here: https://json-schema.org/understanding-json-schema/reference/string.

[2021-03-09 12:09] #14 closed

[2021-03-10 21:47] kpeters-cbsi commented on #15
Thanks, I'll try that.

On Tue, Mar 9, 2021 at 6:05 AM Thomas Aribart <notifications@github.com>
wrote:

[2021-03-14 07:06] arose commented on #14
Thanks, @ThomasAribart, for the answer and for the suggestion of splitting and recombining schemas

[2021-03-14 11:24] #15 closed

[2021-03-16 16:57] stalniy opened #16 "Issue with CompilerOptions.keyofStringsOnly = true"
## The issue

`FromSchema` does not infer required properties when [`compilerOptions.keyofStringsOnly = true`](https://www.typescriptlang.org/tsconfig#keyofStringsOnly).

## The reason

I'm working on a project where ts compiler option `keyofStringsOnly` is set to `true`. This makes `keyof WHATEVER` to return `string` type instead of `string | number | symbol`. That's why when you check whether `n

[2021-03-18 18:13] stalniy commented on #16
any thoughts?

[2021-03-19 08:10] ThomasAribart commented on #16
Good catch ! I'll have a look into it next week !

[2021-03-19 08:55] stalniy commented on #16
I can create a PR if you are ok with the fix, so the only thing you need to do is to release a new version :) Please, it's quite critical for me and I don't want to create hack-arounds

[2021-03-21 13:13] #16 closed

[2021-03-21 13:26] ThomasAribart commented on #16
@stalniy It's merge and deployed in v1.6.1 👍

[2021-03-21 19:13] stalniy commented on #16
Awesome! Thank you!

[2021-03-30 03:21] laughedelic opened #18 "Deno compatibility"
Hi! Is it possible to use this library from [Deno](https://deno.land/)? I tried this:

[code]

but got:

[code]

or with jspm:

[code]

I wonder if adding [`exports` field](https://nodejs.org/dist/latest-v15.x/docs/api/packages.html#packages_package_entry_points) in the `package.json` could help those CDNs to process it correctly?

---

Also, I got this message from skypack:

[2021-03-30 14:30] ThomasAribart commented on #18
Hi @laughedelic and thanks for your issue.

No, json-schema-to-ts is not available on Deno, for the simple reason that I didn't know Deno until now ^^

It would definitely be a nice feature though. I'll look into it 👍

[2021-03-31 01:04] laughedelic commented on #18
Thanks for the quick reply!

I don't write TypeScript code professionally, just doing some scripting. Deno is super nice for that, since I can start with just one file, direct dependencies included, no need for setting up `package.json`, ts-config and the rest of the Node.js project scaffolding.

Your library has the same appeal to me: if I have a simple schema that I want to keep in sync with the

[2021-04-03 10:59] ThomasAribart commented on #18
Hello @laughedelic, json-schema-to-ts is now available on deno: https://deno.land/x/json_schema_to_ts@v1.6.1

Can you confirm that it works on your side?

[2021-04-04 14:49] laughedelic commented on #18
Hi @ThomasAribart! thanks for looking into it.

Unfortunately, it doesn't work:

[code]

This happens because Deno [requires](https://deno.land/manual/examples/import_export) local imports to have file extensions.

Take a look at the discussion [here](https://github.com/denoland/deno/discussions/9569). It seems there is no consensus on how to maintain a library compatible with both Node and Deno,

[2021-04-17 00:18] rattrayalex opened #20 "Document compilation performance"
This looks like an amazing project! I'd love to build an app around it.

One thing I'm curious about is how slow it might make my TS compilation times as the application grows. Do you have any real-world data of compilation times in large projects? Are you aware of pathological patterns in js schemas that cause slow compilation? Or do you have a theoretical idea of how slow this could get in certa

[2021-04-20 19:29] ngruychev commented on #18
Hi!
Since denoify, denoc and other tools are too heavy, I wrote a small specialized script instead, and made a pull request with it (#21).
This script transforms imports to be compatible with deno, and writes the new files in a separate folder.
With these changes, npm users will continue using this module as usual, while deno users will have to require a different url.
For example, with skypack, d

[2021-04-25 17:56] ThomasAribart commented on #18
@laughedelic, I used @ngruychev to build a compatible version on Deno: https://deno.land/x/json_schema_to_ts@v1.6.3/index.d.ts

Can you try it ?

[2021-05-04 01:34] tamasfe commented on #20
We are using this in a small-ish project that currently contains ~2k lines of schemas, and here's my take on this so far:

**disclaimer**: We use `esbuild` for actual transpiling/bundling, and only use `tsc` for type checking.

Most of the time it works as intended, and IDE DX is fine.

However we've already ran into inconsistent recursion issues similar to https://github.com/microsoft/TypeScript/

[2021-05-05 03:30] rattrayalex commented on #20
Thank you @tamasfe ! Sounds like this project is probably great to use for smaller schemas, but maybe a codegen-based tool would work better for larger schemas.

[2021-05-16 13:00] #18 closed

[2021-05-16 13:14] ThomasAribart commented on #20
Thanks @tamasfe for the feedback! Indeed for the moment I haven't met any performance issues on my projects and haven't received any complaints so far.

The 'Type instantiation is excessively deep and possibly infinite' is definitely a bummer.But from what I've seen so far, the inferred types are still correct: They are just hard to read and a 'ts-ignore' is required to discard the warning.

@tama

[2021-05-16 16:31] tamasfe commented on #20
@ThomasAribart The `any | unknown` could be a side effect of the `@ts-ignore` comments, but unfortunately we cannot ignore typescript errors, and afaik there's no way to selectively ignore one kind of error.

The project code is not public, however this `oneOf` beast is part of our public API:
<details>
  <summary>JSON</summary>

[code]
</details>

In the code it is made up of separate schema obje

[2021-05-19 16:00] ThomasAribart commented on #20
Alright, I've run some tests with your schema. Here are some conclusions:

- There seems to be no warning if you use Typescript less than v4
- Above v4, the `type instanciation is excessively deep and potentially infinite error` arises on large schemas.
- HOWEVER, types still seem to be **correctly inferred** 👍
- The `any`s that you mention probably come from the fact that you're not using TS with

[2021-05-19 16:02] #20 closed

[2021-05-19 20:29] rattrayalex commented on #20
Err, this issue wasn't about a TS warning, it was about documenting how well the library handles large schemas. Could the readme be updated with the learnings here?

[2021-05-20 10:14] ThomasAribart commented on #20
Alright I'll add a FAQ section in the docs 👍

[2021-05-20 17:11] stalniy opened #26 "JSON schema "format" property"
JSONSchema supports `format` on `type = string` and format `date-time` I want `FromSchema` to return `Date` object instead of string.

There may be other custom formats like `object-id` (MongoDB special type), so what I suggest is to allow users to specify mapping of format value to some scalar type:

[code]

[2021-05-21 18:52] stalniy commented on #26
Never mind. I decided to go with custom solution

[2021-05-21 19:39] ThomasAribart commented on #26
I still think it could be an interesting feature. 'json-schema-to-ts' would definitely benefit from handling custom deserialization.

However, it would not be a simple road. I reopen the PR add it as a milestone.

[2021-06-05 17:25] marcelbeumer opened #31 "Question: what is the performance impact of implementing this in the typing system?"
Hi @ThomasAribart, thanks for your awesome work, `json-schema-to-ts` looks very interesting!

I was wondering though, what performance impact can we expect implementing this in the typing system? A lot of TS logic needs to happen on the fly for inferring the schema TS types, and my worry is that when codebases grow, the TypeScript language server might take a long time to startup, and we'll start

[2021-06-05 17:34] marcelbeumer commented on #31
PS: I had some bad experiences with complex typings impacting the editing experience in the past with for example styled-components. Not sure if still the case, but it made editing react code sluggish (in vscode back then), switching to an alternative lib fixed that.

[2021-06-24 14:50] leoblum commented on #26
+1. Also wants this feature to use it with mongodb.

[2021-06-25 13:27] pkyeck opened #32 "Question: is there a way to generate interfaces instead of types?"
I want to use type-inheritance and if I get this right, you can only do this with `interfaces` not with `types`.

Something like this for example:

[code]

But because `FromSchema<typeof foo>` returns a `type` rather than an `interface` how would I go about and implement inheritance with this lib?

[2021-07-10 13:30] rattrayalex commented on #31
You may find what you're looking for here: https://github.com/ThomasAribart/json-schema-to-ts/issues/20

(Perhaps some summary of that discussion could be added to the readme?)

[2021-07-10 13:37] rattrayalex commented on #13
I'd be quite keen to see a way for `"$ref": "#/components/foo"` to work. While I certainly *can* duplicate core objects throughout my schema, doing so will bloat my openapi spec quite a lot, and *could* hinder derivative codegen.

Looking at https://www.npmjs.com/package/typescript, it *seems* that quite a lot of the community is using TS 4.3+, but I haven't crunched the numbers.

But I'm not even

[2021-07-13 09:10] ThomasAribart commented on #31
Thanks for your answer @rattrayalex

Yes, I've been very busy on other subjects lately, but I'm definitely going to add those points to the README.

@marcelbeumer I've used this lib on a large project with 200+ small/medium schemas (50 to 100 lines). The IDE experience was still very smooth.

- opening your editor, lang server starts, opening a file that uses a FromSchema type or two from other fi

[2021-07-13 11:15] marcelbeumer commented on #31
Thanks @ThomasAribart and @rattrayalex. Those metrics are they just for the schema part (by testing difference with and without schemas) or are those for full project code?

[2021-07-13 11:25] rattrayalex commented on #31
Full projects. There haven't been isolated benchmarks on just schemas.

[2021-07-15 14:16] jamesovens opened #33 "Importing JSON from file fails"
Hi,

I have a file lets say named `myJsonSchema.json` and it contains:
[code]

I then import that file and try to use it like so:
[code]

And I get this error:
[code]

I believe this is happening because the JSON is not an object literal that can be const asserted.

Is there any way to make this work without having to define object literals? I think it is a pretty common use case to store your JSO

[2021-07-15 14:27] jamesovens commented on #33
I just see this as it goes:
https://github.com/microsoft/TypeScript/issues/32063
So I assume this won't be possible until that is supported.

[2021-07-15 19:09] Aliyss opened #34 "Is there a maximum depth or a limit to how far the json schema can go"
I have created a JSON schema that goes quite deep.

Now when I add a simple property like below anywhere within the schema, the last part of the `anyOf` gets omitted:

[code]

I haven't used JSON Schemas much. Using the validator: https://www.jsonschemavalidator.net/ worked out fine.

Not sure if I'm doing something wrong on my end.

[2021-07-15 19:24] Aliyss commented on #34
My bad. Sorry for the issue.

Seems the moment I posted... I noticed, that it's the IDE, that's not showing the results.

[2021-07-15 19:24] #34 closed

[2021-07-16 07:11] ThomasAribart commented on #33
@jamesovens Yes, so far, sadly, importing JSONs `as const` is not possible.

You can upload the issue :)

You can also define a parallel TS schema and verify that it extends your JSON schema. This won't hardly check your string and array values, but hey it's better than nothing:

[code]

[2021-07-16 07:16] ThomasAribart commented on #32
@pkyeck I'm cannot stick to interfaces as I use a lot of ternaries in during the type inference computations.

However, you can use the extension operator:

[code]

Would that be alright for you ?

[2021-07-16 12:59] jamesovens commented on #33
@ThomasAribart Its a shame because this looks like it would have worked perfectly, maybe in the future we can use it.

As it stands I've had to switch to generating all the types for all files ending in .schema.json in an npm script using https://github.com/quicktype/quicktype

It might be worth placing a disclaimer in the README of this project to point out that this will only work if you can use

[2021-07-16 13:03] ThomasAribart commented on #33
There's already a mention in the README:

[code]

I agree that it can easily be missed, I'll add it in a FAQ section

[2021-07-19 09:27] ilteoood commented on #13
Hi @rattrayalex,
did you find a solution? I've the same problem.

[2021-07-31 15:08] #32 closed

[2021-08-02 20:22] vikasg603 opened #35 "Typescript Error when using allOf"
This is my schema:
[code]

When used FromSchema, Typescript gives some long error, unable to understand the exact error, but after removing allOf it's working properly.

Does anyone of you have any workaround for this issue?

[2021-08-05 08:55] vikasg603 opened #36 "support of nullable keyword."
As we know, AJV by default support nullable: true property.
But if we try the same in FromSchema, it's not working.

Is there any way we can work with this?

[2021-08-05 10:09] vikasg603 commented on #36
Created the pull request, just merge it with.
https://github.com/ThomasAribart/json-schema-to-ts/pull/37

[2021-08-05 10:09] #36 closed

[2021-08-06 12:31] isakstarlander commented on #26
+1. We have quite a few places in our code base that would benefit of proper Date handling. How would you recommend going about this for the time being?

[2021-08-15 11:28] ThomasAribart commented on #26
@isakstarlander @leoblum @stalnyi Alright, it seems this feature is the next on the list :) I'll try to implement it by the end of this month.

For the moment, there's not better way than replacing by hand the property type from the parsed result, for instance with `ts-toolbelt` `Update` utility: https://millsp.github.io/ts-toolbelt/modules/object_p_update.html

[2021-08-15 12:17] ThomasAribart commented on #35
Hi @vikasg603 ! Good catch, I validate that the schema extends the JSONSchemaV6 definition given by DefinitelyTyped.

However, the `if/then/else` keywords seem to make it only in the JSONSchemaV7 one: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/json-schema/index.d.ts#L678

It seemed to me that the `if/then/else` keywords were present in the v6, so I'll dig more into it. If

[2021-08-16 15:38] djvs opened #39 "tsc compiled js still imports json-schema-to-ts which imports as a "ts" file"
I notice every other library in my node_modules has `"main": "index.js"` or similar, and import correctly in my project here.

Maybe you could have that file be a no-op in your published packages, and have `"main": "index.js"` pointing to that no-op, and `"typings": "./lib/index.d.ts"` instead, so that imports of 'json-schema-to-ts' don't start throwing errors like:

[code]

There may be a better

[2021-10-01 16:02] domdomegg opened #42 "[bug] anyOf/union types not working with nulls"
## Summary

anyOf and arrays of types in JSON schemas does not appear to behave correctly with nulls. Instead of unioning the type with null, nothing seems to happen.

## Details

json-schema-to-ts version: 1.6.4
typescript version: 4.4.3

## Example

[code]

[code]

In both these examples, `MyType` should be `string | null`, but is instead `string`

[2021-10-05 10:48] fredericbarthelet opened #43 "Upgrading to 1.6.x causes "Type instantiation is excessively deep and possibly infinite" errors"
Hi there, thanks for the amazing work 🤩 !
I recently updated to latest version of json-schema-to-ts and was welcome with a TS error message `Type instantiation is excessively deep and possibly infinite`. All information relative to the issue are detailed in https://github.com/fredericbarthelet/typebridge/issues/8

At the moment, I locked version 1.5.x. Could you help on the matter ? Do you know wh

[2021-10-05 18:26] JaceHensley opened #44 "Enum doesn't work in TS 4.3.5"
I'm not sure if it's just 4.3.5 or something earlier in the 4.x line but enums don't seem to work any more

[code]

[2021-10-06 01:11] domdomegg commented on #42
You are correct - enabling `strictNullChecks` in my tsconfig fixes the problem! Apologies for the incorrect report and thanks for such a great library :raised_hands:.

[2021-10-06 01:11] #42 closed

[2021-10-08 23:22] omer-to opened #45 "When the schema is typed as JSONSchema, FromSchema<typeof schema> is never"
Hello,

The newly created type from a schema is `never` if the schema is typed as `JSONSchema`.

Let me demonstrate with [an object example](https://github.com/ThomasAribart/json-schema-to-ts#objects) provided in the README.MD
# When typed as JSONSchema
In the following example, I denote `objectSchema` variable as `JSONSchema`, and it is indeed helpful when I am typing properties.
However, when I

[2021-10-10 00:15] ThomasAribart commented on #45
Hello @omer-to !

I understand it is confusing, but this is the expected behavior.

A constant (`objectSchema` here) can only have one type. If you don't assign one to it, TS will infer it from its definition. The `as const` statement forces it to be as narrow as possible. Notice the difference:

[code]

In order for `FromSchema` to be able to infer the valid type from a schema, the input schema t

[2021-10-18 15:49] kschaefe opened #46 "Using a dictionary with `$ref` to reference predefined types"
First, your type mappings here are next level and as much as I've tried to follow along, I'll admit that I've gotten lost.  That being said, I wonder if the following approach would work.

Your example of containing references creates a type that contains no reference to the original type:
[code]
The result is a unique type.

Consider the following example from the JSON Schema site (https://json-s

[2021-10-19 12:48] letmaik commented on #43
I face the same error but it happens with 1.5 as well. In my case it's because of doubly nested `allOf`.

[2021-10-24 03:52] biluohc opened #47 "Does't work on deno?"
deno: 1.15.2

[code]
The code running output as follow, but `const forbar: FooBar = { "foo": "abc", "bar": "x" };` should not compile success?

[code]

[2021-11-03 18:11] paulmelliere opened #48 "Error when using array in examples"
It seems that using an array anywhere as part of `examples` produces a compilation error.
[code]

This produces a compilation error:
[code]

Another example. This works fine:
[code]
But if I add an array to the example I get a similar compilation error as above:
[code]

[2021-11-11 15:39] Momics commented on #45
@ThomasAribart I was struggling with a similar issue. I am trying to infer a JSONSchema argument of an execute function with this library. I was attempting it this way:

[code]

What I'd like to achieve is that the input JSON schema gets translated as a typed argument inside the execute function. As you explained above this is likely not possible this way... Do you have any ideas to achieve the sa

[2021-11-12 09:01] Momics commented on #45
Not sure why, but by using a function to create the method I do get proper type information:

[code]

[2021-11-25 21:31] paolochiodi commented on #35
Is there any update on this?

I seem to have a similar error when using something the attached schema.
After some debugging I think the issue is related to having the if/then/else inside the allOf.
If the if/then/else instead is at the "root" level the type is accepted.

This won't work:
[code]

This will work:
[code]

In this reduced example they two schemas are equivalent, but it's not always po

[2021-12-15 20:53] rlau89 opened #49 "Using definition results in unknown type"
Version: 1.6.4
---
Take the following simple schema

[code]

When converting this to TS using FromSchema results in the name property being an unknown type.
[code]

![image](https://user-images.githubusercontent.com/28444541/146263158-271033a6-d792-47e5-baf5-a008d8777168.png)

Hoping someone can shed some light on this for me. Hoping I'm making a simple mistake somewhere

[2021-12-16 08:27] ThomasAribart commented on #49
Hello @rlau89 !

You're not doing any mistake, the `definitions` keyword is not supported by `FromSchema` for now. It's my next goal on this lib and should be done by the beginning of 2022.

[2021-12-16 11:31] rlau89 commented on #49
Thanks for getting back so quick. After posting I noticed the README stating it was coming and this related [enhancement](https://github.com/ThomasAribart/json-schema-to-ts/issues/13).

I have moved to creating TS enum's and getting `Object.keys` in places to provide reusability. Also combining schemas by importing them which is really useful. With this approach I don't necessarily need the defini

[2021-12-17 12:17] ThomasAribart commented on #49
Yes this will work but still won't be optimal. For instance, if you expose your JSON schema in a swagger, it won't be factorized, and might be very hard to read for any external developper.

[2021-12-31 15:50] firstdorsal commented on #47
similar problem here

[2022-01-08 18:23] ThomasAribart commented on #31
Sorry it took some time but I added a FAQ section with a paragraph on the subject !

Closing this issue !

[2022-01-08 18:23] #31 closed

[2022-01-08 18:25] ThomasAribart commented on #33
Added a paragraph in the FAQ section on this 👍 Closing this issue

[2022-01-08 18:25] #33 closed

[2022-01-14 14:27] amberlionk opened #52 "enum: Object.keys resolves as string[] type"
Hi,

[code]

my_enum_type != my_enum_schema

Maybe someone could suggest how to fix it?

if i use `enum:  ["a","b"]` all is fine.

[2022-01-22 02:03] ffxsam opened #53 "Error: Excessive stack depth comparing types 'ParseMixedSchema<?, T>' and 'ParseMixedSchema<?, T>'.ts(2321)"
As of version 1.6.5, I now get this error in several places in my code.

`Excessive stack depth comparing types 'ParseMixedSchema<?, T>' and 'ParseMixedSchema<?, T>'.ts(2321)`

It comes from this:

[code]

which I adopted from the [Serverless Framework TS template](https://github.com/serverless/serverless/blob/452e4d8279802ab2ce1ca300ab2c75ec8588a9e8/lib/plugins/create/templates/aws-nodejs-typescr

[2022-01-22 18:28] ThomasAribart commented on #53
Hi @ffxsam and thanks for the issue.

Everything seems fine on `json-schema-to-ts` side. It's the combination of Sentry and `FromSchema` that seems to generate too many type computations 🤔  I don't even get why `ParseMixedSchema<?, T>` is mentioned here, as your schema is not mixed (i.e. you do not provide an array of `types` but simply `"object"`).

Can you try defining `ValidatedAPIGatewayProxyE

[2022-01-22 19:34] ffxsam commented on #53
Hey @ThomasAribart, thanks for the reply!

You'll have to excuse me, as my TypeScript ability is passable at best.

[code]

This results in an error, `Cannot find name 'S'`.

Unfortunately, I can't rely on implicit types here. The code for `wrapApiHandler` is more complex (it took me hours to figure out). I can post it in its entirety if that helps you.

TypeScript was updated, but I reverted it s

[2022-01-24 18:49] ThomasAribart commented on #53
`S` is supposed to be the type of your schema, defined with the `as const` statement:

[code]

[2022-01-25 02:43] ffxsam commented on #53
Thanks, Thomas! I appreciate the help, but unfortunately, I don't have the bandwidth to try to track down what's going on. I'm guessing it's due to some sloppy TypeScript that `json-schema-to-ts` was previously more forgiving about. I'll pin my project to version 1.6.4 and call it a wrap.

[2022-01-25 04:48] daffl commented on #53
I've been seein the same error in the latest version in https://github.com/feathersjs/feathers/tree/dove/packages/schema. The smallest example I could come up with to reproduce looks like this:

[code]

Maybe that helps, I can try and do some more digging if you think it's worth investigating.
Either way, this is a great project!

[2022-01-25 08:39] ThomasAribart commented on #52
Hello @amberlionk !

Sadly, `Object.keys` return value is always typed as `string`, so `FromSchema` cannot work on your schema.

It seems that your constant `my_enum` isn't really an enum but an object using an enum `"a" | "b"` as keys ?

In this case, my advice is to do the following:

[code]

[2022-02-01 14:09] amberlionk commented on #52
I defined enum with modern syntax  `const x = {} as const`
https://www.typescriptlang.org/docs/handbook/enums.html#objects-vs-enums

Fixed it with type cast
[code]

[2022-02-01 14:09] #52 closed

[2022-03-09 14:54] dongnguyenltqb opened #54 "Is there a way to tell typescript the schema of nested field ?"
I have two schema, you can look at the `personSchema` and `animalSchema`
There is 2 type too.
What i  want is that  the `instance` filed has `People` type.
How can i tell that `animal.instance` has type `Person` instead of using `cast` (please take a look at `getPerson` function)

[code]

Thank you for a very helpful package!

[2022-03-10 08:45] ThomasAribart commented on #54
Hello @dongnguyenltqb ! You have to cast because the `instance` property is not marke as required, and in theory the return type of `getPerson` should be `Person | undefined`.

You should either:
- Change the return type of your function to `Person | undefined`
- Mark `instance` as required:

[code]

[2022-03-10 09:22] dongnguyenltqb commented on #54
Thank you so much @ThomasAribart !.
You helped me solved this problem.

[2022-03-10 09:22] #54 closed

[2022-04-02 09:19] ericvicenti opened #56 "Excessive stack depth comparing types 'ParseMixedSchema<?, T>' and 'ParseMixedSchema<?, T>'."
Hello and thank you for this awesome library! ([my little project](https://github.com/zerve-app/zerve) needs TS safety and serializable schemas, so I would be screwed without json-schema-to-ts!)

This error frequently appears in my codebase when TS performs deep inference with a `FromSchema` type:

![Screen Shot 2022-04-01 at 2 59 05 PM](https://user-images.githubusercontent.com/1483597/161347295-

[2022-04-02 21:08] ericvicenti commented on #53
Oop, I made a duplicate issue here: https://github.com/ThomasAribart/json-schema-to-ts/issues/56

Filed here because I haven't seen this error on any other codebases aside from when I use json-schema-to-ts

But now I'm thinking we have exposed some bug in TypeScript.

[2022-04-11 11:19] ThomasAribart commented on #56
Hi @ericvicenti and thanks for the issue 👍

Is the issue still happening with v2.0.0 ? It reminds me of another issue, can you try rolling back to v1.6.4 ?

[2022-04-11 11:20] #49 closed

[2022-04-11 11:25] ThomasAribart commented on #48
Hi @paulmelliere and thanks for the feedback.

This is a problem with DefinitelyTyped, not with json-schema-to-ts.

The typing is incorrect in the V7: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/41a7ec7bcc81649c40bbed97f3c3b3fabb126e43/types/json-schema/index.d.ts#L724

...But correct in the v6:
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/41a7ec7bcc81649c40bbed97f3c3b3fabb1

[2022-04-11 12:23] #48 closed

[2022-04-11 12:37] ThomasAribart commented on #46
Hi @kschaefe and thanks for the idea !

I had some thoughts about [local definitions](https://json-schema.org/understanding-json-schema/structuring.html#defs), that I think are definitely implementable without change in the `FromSchema` interface.

I hadn't thought about non-local definitions before, but yeah, it could totally exist. Something like:

[code]

My priority is local definitions for no

[2022-04-11 12:48] ThomasAribart commented on #35
Hi @paolochiodi !

Can you try it with v2.0.1 ?

It seems to work fine now:

[code]

[2022-04-11 14:52] #35 closed

[2022-04-11 14:57] ThomasAribart commented on #45
You can do the following:

[code]

The second method will work also 👍 I'm closing this issue :)

[2022-04-11 17:18] ThomasAribart commented on #39
Hi @djvs ! Should be fixed since 2.1.0 🙌 Can you confirm ?

[2022-04-11 17:18] #39 closed

[2022-04-11 17:21] #44 closed

[2022-04-11 23:43] ThomasAribart commented on #56
Hi @ericvicenti, I cloned zerve and tried to reproduce the issue but couldn't. Does it still exist ?

[2022-04-12 00:52] ericvicenti commented on #56
Thanks @ThomasAribart

Actually yes, I was on the older version of json-schema-to-ts! I put the demo code back into the same state as when I posted this issue. Also I updated TS and this lib. Now I see this error instead of the "ParseMixedSchema" error:

<img width="921" alt="Screen Shot 2022-04-11 at 5 47 29 PM" src="https://user-images.githubusercontent.com/1483597/162856531-a4a23922-ad43-48e8-b

[2022-04-12 00:52] #56 closed

[2022-04-12 01:12] paulmelliere commented on #48
Excellent! Thank you!

[2022-04-12 06:26] milkcoke commented on #46
We needs use local definitions like this.
I'm using json-schema-to-ts with [pg-tables-to-json](https://github.com/SpringTree/pg-tables-to-jsonschema) since it's so tricky updating application code every time that changed database attribute name, type etc .. if not using ORM.

## Scenario
### 1. Retrieve json schema from the database
I retrieve all table schema from my postgreSQL database using pg-

[2022-04-12 19:13] ThomasAribart commented on #56
@ericvicenti Okay I did some research.

It turns out that you do recursive typing that TS doesn't really like ^^ I have a PR ready for you on zerve to fix this if you want 👍

It also comes from what is probably a bug in TS, as described in https://github.com/ThomasAribart/json-schema-to-ts/issues/53, that I've managed to isolate in my PR so VSCode can still run smoothly.

Can you gimme the right t

[2022-04-12 19:23] ThomasAribart commented on #46
Hi @milkcoke !

I don't think local schema definitions are the solutions here. In fact, in your case, I'm not sure json-schema-to-ts is the best solution, see this FAQ on why: https://github.com/ThomasAribart/json-schema-to-ts/blob/master/documentation/FAQs/does-json-schema-to-ts-work-on-json-file-schemas.md

I think using a code generator like https://www.npmjs.com/package/json-schema-to-typescri

[2022-04-12 19:58] ThomasAribart commented on #43
@letmaik Can you re-try the doubly nested allOf with `v2.1.0` ?

@fredericbarthelet Fixed by https://github.com/fredericbarthelet/typebridge/pull/15

[2022-04-12 19:58] #43 closed

[2022-04-12 20:14] ericvicenti commented on #56
Just gave you write access to zerve. Thank you for investigating!

I'll be mostly offline for the next few days, but let me know what I can do to help when I get back

[2022-04-14 23:10] ThomasAribart commented on #13
@rattrayalex @ilteoood @jbward1 are now supported in v2.2.0, implemented in https://github.com/ThomasAribart/json-schema-to-ts/pull/63.

See https://github.com/ThomasAribart/json-schema-to-ts#definitions

[2022-04-14 23:10] #13 closed

[2022-04-14 23:11] ThomasAribart commented on #49
@rlau89 Definitions are now supported in v2.2.0. See https://github.com/ThomasAribart/json-schema-to-ts#definitions

[2022-04-15 03:11] rattrayalex commented on #13
Awesome, thank you!

[2022-04-15 13:35] ThomasAribart commented on #47
Hi @biluohc @firstdorsal and thanks for reporting this issue.

I'm not familiar with deno but I'll look into it ASAP.

[2022-05-01 18:09] ThomasAribart commented on #26
@stalniy @leoblum @isakstarlander It took some time but the feature is now available in v2.3.0 ✨ (done in https://github.com/ThomasAribart/json-schema-to-ts/pull/64)

See an example in the README: https://github.com/ThomasAribart/json-schema-to-ts#deserialization

[2022-05-01 18:09] #26 closed

[2022-05-09 21:05] ThomasAribart commented on #46
Hi @kschaefe ! This feature is now available in v2.4.0 🥳

Check the [references documentation](https://github.com/ThomasAribart/json-schema-to-ts#references) to find examples !

[2022-05-09 21:05] #46 closed

[2022-05-11 12:40] ThomasAribart commented on #47
Hi @biluohc @firstdorsal ! Everything seems fine with v2.4.0:

<img width="1082" alt="-zsh 2022-05-11 14-40-00" src="https://user-images.githubusercontent.com/38014240/167851908-a6331979-e409-455f-a4b6-d143566ca8de.png">

Can you confirm so I can close this issue ?

[2022-05-13 06:46] #47 closed

[2022-05-16 21:07] winston0410 opened #69 "How to type input for `FromSchema` correctly?"
I have the following type of a helper function. I am trying to use `JSONSchema` here to fulfil the constraint of `FromSchema`.

[code]

However, Typescript is complaining for this:

[code]

Based on the doc, https://github.com/ThomasAribart/json-schema-to-ts/blob/HEAD/documentation/FAQs/can-i-assign-jsonschema-to-my-schema-and-use-fromschema-at-the-same-time.md, it is incorrect to use both types t

[2022-05-17 11:50] ThomasAribart commented on #69
Hello @winston0410,

Indeed, using `FromSchema` directly on `JSONSchema` won't work (it will return `never` or `unknown` since v2).

What you actually want is to exploit the strict type of your `inputSchema` input. To do this, you have to add a generic type to your util:

[code]

If there is still an error, you can try to extract the in the default value of another type parameter:

[code]

[2022-05-21 09:30] ThomasAribart commented on #69
Hi @winston0410 ! Can I close this issue ?

[2022-05-22 22:17] curtislarson opened #74 "`wrapCompilerAsTypeGuard` and `wrapValidatorAsTypeGuard` are not usable in Deno build"
Hello! First off thanks for writing this library! It's awesome and just keeps getting better!

One thing I noticed is in the Deno build the wrapper functions cannot be used because its packaged as only type definitions and the implementations are stripped by rollup

https://github.com/ThomasAribart/json-schema-to-ts/blob/d8faafb4603aab1e0496858bd727f591940cc137/builds/deno/index.d.ts#L307

https:/

[2022-05-23 19:01] ThomasAribart commented on #74
Hi @curtislarson ! Good catch, thanks for the heads up.

It seems that I now export more than types but forgot to modify the rollup configuration for deno export: https://github.com/ThomasAribart/json-schema-to-ts/blob/master/rollup.config.js

I'm gonna look into that !

[2022-05-23 20:16] ThomasAribart commented on #74
Hi @curtislarson ! I found https://www.npmjs.com/package/@rollup/plugin-typescript which seems to bundle the typescript in cjs or esm.

I could use it along with dts to export an `index.js` in parallel to the `index.d.ts`. BUT I'm not sure if this is the best approach. Wouldn't it be better to simply export a single `index.ts` file ? Sorry, I'm not familiar with Deno.

[2022-05-23 20:47] curtislarson commented on #74
@ThomasAribart The `.js` and `.d.ts` is a valid approach that some libraries like [esbuild](https://github.com/esbuild/deno-esbuild/blob/c04762b596b09d750f668ae3f6e10799b3470c61/mod.js#L1) take with the `<reference types` notation.

I think most Deno people prefer importing from `ts` files since they may not be aware of the typing inclusion in the `js` file or would have to do the awkward `@deno-t

[2022-05-23 20:53] curtislarson commented on #74
https://gist.github.com/curtislarson/0253736b428c641411183cc41dec3202 This is pretty much what the file I use looks like, where you just `import type`/`export type` instead of `import`/`export` and include the function definitions.

Although you can go even further and use the optimized pinned urls from skypack...

[2022-05-23 22:09] ThomasAribart commented on #74
@curtislarson Yes, that's what I had in mind. It sounds easy but it is in fact quite hard to automate :/ I couldn't find a rollup plugin that flattens ts like that. It seems simpler to export it as `d.ts` on one side and `.js` or `.mjs` on another.

[2022-05-25 02:10] curtislarson commented on #74
I haven't experimented with them a lot but there are packages like [unplugin](https://github.com/unjs/unplugin) and [unbuild](https://github.com/unjs/unbuild) that seem to give you a lot of flexibility and additional options when it comes to generating output with rollup, esbuild, etc.

[2022-05-25 08:41] #69 closed

[2022-05-26 14:37] ThomasAribart commented on #74
Sorry, those plugin don't allow to flatten ts filte easily either.

I've release a beta of v2.5.2 with the same `d.ts` as usual, but with `js` and `mjs` rollups containing both wrappers in `cjs` and `esm`. Can you try those and tell me if it works for you ? If it does, I'll officially release the 2.5.2.

https://deno.land/x/json_schema_to_ts@v2.5.2-beta.0

[2022-05-26 16:47] curtislarson commented on #74
@ThomasAribart I'm able to import them but have to manually specify the correct typings via `@deno-types` in order to get it working.

<img width="601" alt="Screen Shot 2022-05-26 at 12 44 41 PM" src="https://user-images.githubusercontent.com/2141050/170535178-373c76da-e306-44d7-bba3-1a03bfb92b72.png">
<img width="677" alt="Screen Shot 2022-05-26 at 12 44 51 PM" src="https://user-images.githubuser

[2022-05-26 21:49] ThomasAribart commented on #74
The [banner option](https://rollupjs.org/guide/en/#outputbanneroutputfooter) seems to have done the job 👍

Can you try the second beta ? https://deno.land/x/json_schema_to_ts@v2.5.2-beta.1

[2022-05-26 22:12] curtislarson commented on #74
@ThomasAribart Yep this code worked for me

[code]

I don't think the `.js` version will ever be compatible with Deno though unless `exports` is shimmed but the `.mjs` worked great.

[2022-05-26 23:19] ThomasAribart commented on #74
Awesome 😎

Does the type guard work as well ?

[code]

If so, I'll release and close this issue tomorrow 👍

Cheers !

[2022-05-26 23:29] curtislarson commented on #74
Yep it works perfect. Thanks for the fixes!

[2022-05-30 08:33] danibix95 opened #78 "Provide Repository Changelog"
Hi,

thanks for your work!
I noticed that the repository has just been updated to its latest version, moving it from `v2.5.2` to `v5.2.3`.

Would it be possible to provide a `CHANGELOG.md` file, similar to the one proposed in [keepachangelog](https://keepachangelog.com/en/1.0.0/) website to briefly explain the changes that are introduced with each new tag?

Moreover, would it be possibile to descr

[2022-05-30 08:41] danibix95 commented on #78
Ok, thank you for the clarification @ThomasAribart

Github releases are also perfectly fine, even though they are not platform agnostic.
I believe this issue can be closed as soon as next release is published.

[2022-05-31 22:48] ThomasAribart commented on #78
Hi @danibix95 ! v5.2.3 has been unpublished and v2.5.3 is now available 👍

[2022-05-31 22:48] #78 closed

[2022-06-02 15:18] psznm commented on #53
Typescript 4.7, which introduced variance annotations, has been released. I believe variance annotations could help solve this issue. @ThomasAribart, could you please look into that?

[2022-06-07 12:18] NikitaIT opened #79 "schema object without a type attribute"
Use case: [does-json-schema-to-ts-work-on-json-file-schemas](https://github.com/ThomasAribart/json-schema-to-ts/blob/master/documentation/FAQs/does-json-schema-to-ts-work-on-json-file-schemas.md)

Look at: [schema-object-without-a-type-attribute-in-swagger-2-0](https://stackoverflow.com/questions/47374980/schema-object-without-a-type-attribute-in-swagger-2-0)

[code]

[2022-06-30 14:58] StanHannebelle opened #80 "JSONSchema type does not support array as default"
Defining an array as default value results in a ts-error

[code]

Here is the resulting ts-error:

[2022-07-02 10:41] #80 closed

[2022-07-02 10:45] ThomasAribart commented on #80
@StanHannebelle fixed in v2.5.4 👍

[2022-07-21 20:46] mauricioklein commented on #79
You forgot `type: "object"` before properties

[2022-07-22 08:06] ThomasAribart commented on #79
@NikitaIT sorry I didn't respond earlier. I'm not so sure to want to resolve this issue.

From the spec (and the comment in your linked stack overflow page), `type Dog` should be a union: `{ balance, ... } | string | null | boolean | number | unknown[]`. Which is not much better than `unknown`.

[2022-07-22 13:52] thomasheartman opened #82 "Create query param object from query param list"
Hi! First off: thanks for all the effort in creating and maintaining this library!

I have a question that I can't seem to figure out an answer to regarding using this library with express and express-openapi, and that I was hoping you could shed some light on:

In short, I'm wondering if there is a way to create a record from query parameters via FromSchema?

A little more context: the OpenAPI sp

[2022-07-22 21:35] ThomasAribart commented on #82
Hello @thomasheartman 👋

Sure no problem ! I think one of the difficulty is that removing `readonly` from a `readonly string[]` is not enough to obtain `string[]` because some mutating methods (like `pop` or `push`) are removed from `readonly` arrays and not re-added by removing the `readonly` keyword. But you can stick with `readonly` arrays.

First create a `ParseOpenApiParams` generic type with

[2022-07-22 21:46] thomasheartman commented on #82
Oh,amazing; thanks! I'll give that a look on Monday, for sure 😁 One other thing that seems to trip me up is if one of the schemas use the enum property, because you get a nested readonly array. Would your answer cover that too, do you think?

Thanks again for the quick and very detailed answer 🙏

[2022-07-23 10:05] ThomasAribart commented on #82
Doesn't look like it would be a problem. If it is, you can always use `DeepWritable` and `DeepReadonly` utility types:

[code]

This worked for me:

[code]

[2022-07-24 21:28] gurumaxi opened #83 "Support for MongoDB ObjectId field"
I use json schemas to validate my mongodb collections, and convert them to typescript types with `json-schema-to-ts`. Everything works fantastic.

The problem I have is that mongodb saves its ID fields as `ObjectId` objects, not plain strings. With the help of the deserialize option I could easily map the value to the `ObjectId` type like this:

[code]

The problem is that in order to be a valid v

[2022-07-25 08:27] thomasheartman commented on #82
You're right, the nested enums don't appear to be a problem at all 😄 However, I have found one with your solution and I'm a bit at a loss as to how to fix it: it appears the first item in the list becomes `unknown`:

Given this setup:

[code]

and this data:

[code]

I get this type:
[code]

If I switch the order of the items in the list, `param2` becomes `unknown` and `param1` becomes `"three" |

[2022-07-25 21:05] #79 closed

[2022-07-25 22:22] taxilian commented on #83
Heh, I just hit this same issue =] Would love to see this!

[2022-07-25 22:38] taxilian commented on #83
So here is one possibility -- I haven't tested it yet with mongodb but it would be easy to hack it a bit to make it work.

[code]
The above seems to work perfectly with `json-schema-to-ts` -- it doesn't care if you *add* `bsonType`, you just still need to have `type`. Now what I don't know is if mongodb is going to puke if you define the above (with both `bsonType` and `type`) -- however, if it *d

[2022-07-26 06:27] gurumaxi commented on #83
If you define both `type` and `bsonType` it gives you the following error: `Cannot specify both $jsonSchema keywords 'type' and 'bsonType'`. For now I indeed wrote my own very minimal wrapper. It isn't the most beautiful way to solve this issue, but it works. I also needed to make sure that these objectId fields can also be nullable (for foreign references). So my deserialize options look like thi

[2022-07-26 11:05] svsool opened #84 "allOf operator and ajv-keywords support"
Hi, thanks for this library.

I noticed that `FromSchema` utility does not work with ajv-keywords such as `transform: ['trim']` for example. Seems like a bug to me.

![image](https://user-images.githubusercontent.com/1452141/180991634-3a3ab069-8de3-488a-a0e8-ab91807f1a62.png)

Code to reproduce:

[code]

[2022-07-26 19:13] ThomasAribart commented on #82
Strange, I get the correct result:

![Capture d’écran 2022-07-26 à 21 11](https://user-images.githubusercontent.com/38014240/181092266-09019df6-7780-47bc-ae25-118c466a35ea.png)

Which version of `ts-toolbelt` / `json-schema-to-ts` are you using ? Mine were respectively `2.5.4` and `9.6.0`. Can you also share your `tsconfig.json` ?

[2022-07-26 19:21] ThomasAribart commented on #84
@svsool Thanks for the heads up. JSON-schemas are extendable, so yes, `FromSchema` should accept custom properties.

Modifying this as we speak.

[2022-07-26 19:33] thomasheartman commented on #82
Huh, interesting 🤔 It seems we were using (^)`2.5.3` of `json-schema-to-ts` and `9.6.0` of `ts-toolbelt`. I tried updating it to `2.5.4`, but it doesn't seem to make a difference. The code _does_ work even without it, but that seems to by coincidence, so it's brittle.

Here's the `tsconfig.json` file

<details>

<summary>`tsconfig.json`</summary>

[code]

</details>

[2022-07-26 19:52] ThomasAribart commented on #84
@svsool Should be solved in 2.5.5, can you confirm this ?

Solved by https://github.com/ThomasAribart/json-schema-to-ts/pull/85

[2022-07-26 20:10] ThomasAribart commented on #82
Ok I managed to reproduce the bug. You miss the `strict: true` option recommended by `ts-toolbelt`: https://github.com/millsp/ts-toolbelt#prerequisites

This causes `O.Merge` to bug.

You can either set the `strict` option to `true` (which I recommend anyway, because it is good practice, but might require some migrations in your code), or not use `O.Merge` and use the `&` operator instead:

[code]

[2022-07-26 20:18] thomasheartman commented on #82
Oh, sick! Yeah, that explains it. Sadly, turning on strict mode for the entire project isn't an option at the moment (it'd just be too much work), but it's definitely something we want to do in the future. But if using `&` works too, I'll do that instead for now. I'll go ahead and make those changes when I'm back in work tomorrow.

And yeah, please feel free to close this issue! I'll reopen if it

[2022-07-26 20:18] #82 closed

[2022-07-26 20:29] ThomasAribart commented on #83
Hi @gurumaxi and @taxilian,

The `JSONSchema` type constraint accepts custom keywords (like `bsonType`), but it throws if the schema has **no property** in common with `JSONSchema`. You don't need to have `type`, another keyword like `examples` would have worked :)

Anyway, this shouldn't be an issue since v2.5.5 which I just released to fix https://github.com/ThomasAribart/json-schema-to-ts/issue

[2022-07-26 20:45] ThomasAribart commented on #83
@gurumaxi two notes:

You can use unions in the `pattern` keyword instead of using several patterns, it should work just fine:

[code]

This a bit better, but still doesn't scale very well. Sadly, I don't think you can check with an `extend` type ternary that an array contains a certain value. But you can still use `anyOf` keyword instead of using an array in the `type` keyword:

[code]

This will

[2022-07-26 21:35] ThomasAribart commented on #53
@daffl @psznm @ffxsam @ericvicenti Indeed, it seems like the variance annotation helps a bit. The smallest example you provided is fixed by declaring `S` as `invariant` (i.e. with both `in` and `out` annotation).

I guess it skips the `FromSchema` type computation altogether and call it a day if `schemaA` and `schemaB` are equal (or not):

[code]

However, I'm not completely sure this fixes the is

[2022-07-27 06:43] svsool commented on #84
it works, thank you!

[2022-07-27 07:28] thomasheartman commented on #82
Just wanna chime in and confirm that using `&` and `A.Compute` works like a charm! Thanks again 😄

[2022-07-27 12:10] gurumaxi2 commented on #83
Can confirm, the `bsonType` attribute now works without any `JSONSchema` property.
Also, the union approach for the deserialize pattern is much better. Thank you very much!

[2022-07-27 12:13] gurumaxi commented on #83
Can confirm, the bsonType attribute now works without any JSONSchema property.
Also, the union approach for the deserialize pattern is much better. Thank you very much!

[2022-07-27 12:13] #83 closed

[2022-08-02 13:56] winston0410 opened #86 "allOf doesn't work"
Not quite sure how to reproduce this in a useful way, I have a schema like this, which extends a schema in `allOf`. Even though I have ensure that the `accept` exists in `header` in programmatic level, it is not reflected in the type generated by this library.

[code]
See the final type by hovering on `obj`

[2022-08-02 20:07] ThomasAribart commented on #86
Hi @winston0410 ! See https://github.com/ThomasAribart/json-schema-to-ts/issues/79 : Your `header` schema misses a `type: "object"` keyword !

[2022-08-02 21:20] gurumaxi opened #87 "Issue when importing generated type into another module"
Generated types are not recognized when imported in other modules.

[code]

`export type Car = FromSchema<typeof CarSchema>;` will result in `type Car = unknown` in the imported module. If I specify a deserialize option, it transforms into any: `type Car = any` and the error `Type instantiation is excessively deep and possibly infinite` appears.
I am aware of this [FAQ](https://github.com/ThomasAr

[2022-08-03 08:57] winston0410 commented on #86
Right after adding that back in, the type is generated perfectly. Thanks!

[2022-08-03 08:57] #86 closed

[2022-08-11 08:55] gurumaxi commented on #87
I am going to close this issue, as the problem wasn't actually a problem. I imported a generated type (module1)  into module2. In module1, I used path aliases, which obviously cannot be resolved by module2. Therefore, the imported type always resolved to any in module2.

[2022-08-11 08:55] #87 closed

[2022-08-17 17:39] ericvicenti commented on #53
I think this can be closed. I haven't seen this weirdo error in a while

Now I just need to find workarounds for "Type instantiation is excessively deep and possibly infinite" 😤

[2022-08-19 07:48] #53 closed

[2022-08-26 16:14] bayoudhi opened #88 "Probably all versions above `1.6.4` are not working with `preserveSymlinks` tsconfig option"
Hey, this is a cool library I really like the idea of inferring TS types from JSON schemas 👌🏻

Almost all the solutions I found are focused on generating types (via CLIs or code), this library is different & unique.

I found something interesting, all the recent versions (above `1.6.4`) of this library are not working for me, I'm pretty sure my config is correct I'm using Typescript v4 and `strict

[2022-08-28 16:20] ThomasAribart commented on #88
Hi @bayoudhi,

Interesting, I tried to reproduce the issue with the same Typescript version without success:

![Capture d’écran 2022-08-28 à 18 10](https://user-images.githubusercontent.com/38014240/187084085-5ff2147d-d592-438b-9709-02ec268cdebd.png)

Can you provide your `tsconfig` as well ?

[2022-08-29 08:48] olivierto opened #89 "AJV format support ?"
Hey there!
First of all Whow 🤯 So great utility plugin ! really  powerfull and easy to use! you  are typescript ninjas !
Great job !

 Here is my issue.
 I'm using AJV format like this

[code]

Here is my schema code:
[code]

and here is the calling code :
[code]

As soon as the property content is equal to "binary" it seems that  the FromSchema<typeof MySchema> is broken.

Is this a normal behavi

[2022-08-29 08:57] bayoudhi commented on #88
Hi @ThomasAribart

I think I found the cause, it's related to `preserveSymlinks` option in my `tsconfig.json` (as you guessed it's something related to `tsconfig` 🙂)
[code]

When turned on, inferring does not work, if I remove it or turn it off (`"preserveSymlinks": false`) inferring works as expected. I used the latest version 2.5.5 btw.

I have a monorepo project with multiple `tsconfig` files a

[2022-08-29 09:52] bayoudhi commented on #88
Yep, `preserveSymlinks` is required in my case 😕

[2022-08-29 11:51] olivierto commented on #89
Sorry for the timeloss...
I figured out by re reading the [json schema docs](https://json-schema.org/understanding-json-schema/reference/non_json_data.html)
The proper syntax is :
[code]

[2022-08-29 11:51] #89 closed

[2022-08-29 21:57] ThomasAribart commented on #88
Nice catch, thanks ! I'll have a look ! The least I can do is add it as a requirement in the docs.

For what reason do you use `preserveSymlinks` options ? Sharing code across services ?

[2022-09-01 12:09] #88 closed

[2022-10-08 08:12] fratzinger opened #90 "Possibility to make `as const` unnecessary"
Maybe there is a way to remove the necessity of `as const`. Please view the following example:

[code]
Play with it in [TS Playground](https://www.typescriptlang.org/play?#code/C4TwDgpgBAcghgJwQewO4B4AqA+KBeAKCigB8pMoIAPYCAOwBMBnKAMQFc6BjYAS2TpQA-OSgAuKHQgA3CAiKlR1WoxZNgCXnQDmiuuwC2AIzmKjyZABsIcQWSO9tW4MNESpshFAVkKy+sxQANoAuq6h4pIypj5QAN7BANJQWlAA1hAgyABm5CES8EhoWEGJIbgAvgQEDBBclojQ2Zw8-IK06ljYABR

[2022-10-12 13:54] sevencai opened #91 "How to write the type definitions to files?"
Hi, thanks for this library.

I'm wondering if there's a way for me to output the FromSchema definition result into a file ?

I only need to transform the json schema and write it to my own typescript file.

[2022-10-12 14:01] #91 closed

[2022-10-14 18:48] erunion opened #92 "How to best surface schema descriptions as type documentation?"
As traditional types can have docblocks those can get surfaced in IDEs. How can I best surface descriptions to be available on these types?

[code]

Traditional type on-hover:

![Screen Shot 2022-10-14 at 11 43 33 AM](https://user-images.githubusercontent.com/33762/195918545-b0f3e6b2-a146-4f4b-95d6-ee20e6a70b42.png)

`json-schema-to-ts` on-hover:

![Screen Shot 2022-10-14 at 11 43 21 AM](https://u

[2022-10-23 09:46] alphaone opened #93 "Inferred type is always `never`"
Hey,

I am trying the example for the README and I get `never` as the resulting type :\

[code]

I am using Typescript `4.8` on MacOS `12.6` and this is my `package.json`:
[code]

Any idea, what I am doing wrong?

[2022-10-23 10:05] alphaone commented on #93
When I define the schema without the `required` properties:
[code]

then I will get a type with all `undefined` types:
[code]

[2022-10-24 18:05] halfcadence opened #94 "Can deserialization patterns use the property name?"
I'm trying to use a custom deserialization to type check CSS in my JSON objects.

I'm using a CSS type from`csstype`:

[code]

And have the CSS as a property called "customStyle" in my schemas:

[code]

The type I would like to get from this is something like

[code]

However since there's not enough information in the type to match a pattern:

[code]

matches the outer schema:

[code]

Is there a

[2022-10-25 11:56] alphaone commented on #93
I found the problem.

I had
[code]

for some reason in my `tsconfig.json`.

After removing this, everything works like expected.

[2022-10-25 11:56] #93 closed

[2022-10-31 20:03] djvs opened #96 "Recursive ref issue"
Taking this file as an example:
[code]

I'm seeing this:
`Type of property 'fields' circularly references itself in mapped type '{ id: { type: "primitive"; value: string; isSerialized: false; deserialized: never; }; key: { type: "primitive"; value: string; isSerialized: false; deserialized: never; }; type: { type: "const"; value: "object"; isSerialized: false; deserialized: never; }; name: { ...;

[2022-11-05 17:00] lcsmuller opened #97 "`Unexpected token 'export'` when exporting `wrapValidatorAsTypeguard` with a ts-node build"
Hello, thanks for writing this fantastic library, it has been useful so far!

I'm getting the following error when building with `ts-node`:
[code]

This error only seems to trigger when I attempt to export a method that comes from a `.js` file (wrapValidatorAsTypeguard or wrapCompilerAsTypeguard)... It appears that `ts-node` cannot support `export` and `import` syntax by default, I think an easy f

[2022-11-06 16:33] ThomasAribart commented on #90
Hi @fratzinger and thanks for the issue !

I like the idea of staying only at type level and not impacting compiled code, which would happen using such a function. Also, this will not work with actual `.json` schemas once [`import schema from './schema.json' as const` will be implemented in TS](https://github.com/microsoft/TypeScript/issues/32063).

However, I do not see any harm in exposing such

[2022-11-06 19:31] ThomasAribart commented on #93
Thanks @alphaone ! Will add it to the README !

[2022-11-06 19:34] ThomasAribart opened #98 "Improve CI/CD flow (improve transpilation, include changelog)"

[2022-11-06 19:35] ThomasAribart opened #99 "Remove `ts-toolbelt` dependency"

[2022-11-06 19:36] ThomasAribart opened #100 "Resolve circulare references by `any`"

[2022-11-06 19:39] ThomasAribart opened #101 "Enforce JS Docs on exported types and utils"

[2022-11-06 19:39] ThomasAribart opened #102 "Improve `eslint` and `prettier` config (add sortOrder + absolute imports)"

[2022-11-06 20:08] ThomasAribart commented on #92
Hi @erunion !

I tried using some `Object` level JS docs but to no avail:

[code]

Maybe it could be solved with some better JS Doc tooling ? 🤷‍♂️

Sadly, as I much as I'd like to see such feature in `json-schema-to-ts`, I don't think it is possible. `FromSchema` only operates on types, and JS Docs are outside of that scope.

Let me know if you find anything that could work ! I'd be very intereste

[2022-11-06 20:22] ThomasAribart commented on #94
Hi @halfcadence !

You are right, it's not possible right now to use the property name in deserialization patterns. I'll look into that, it could be an interesting feature.

Meanwhile, there's a very simple trick you can use (that may even be cleaner than using the property name): JSON schemas are extensible, so you can use a custom `internalId` prop:

[code]

[2022-11-07 01:42] halfcadence commented on #94
Thanks for the comment, that makes sense and I think would solve this problem.

(As a different issue, I realized that the schema I'm working with is recursive and so isn't supported for that reason)

[2022-11-07 01:42] #94 closed

[2022-11-07 11:00] ThomasAribart commented on #90
@fratzinger Should be available in 2.6.0 !

There is an issue with my JS exports though, which use `import`/`export` syntax that is not compatible with `cjs`. The issue has been raised in https://github.com/ThomasAribart/json-schema-to-ts/issues/97 so we can close this one if it's good for you !

[2022-11-07 17:38] ThomasAribart commented on #96
Hi @djvs and thanks for the issue !

Yes, for the moment, `FromSchema` doesn't handle recursive schemas. For the moment, there's no way to fix your issue sadly.

I'm honestly not sure this is achievable, but I'll look into it. Possible solutions are:
- It is possible somehow (this may be possible with `interfaces`)
- It is not possible, but `FromSchema` can automatically detect circular references

[2022-11-07 17:40] ThomasAribart commented on #100
Would solve https://github.com/ThomasAribart/json-schema-to-ts/issues/96

[2022-11-07 17:41] ThomasAribart commented on #98
Solve https://github.com/ThomasAribart/json-schema-to-ts/issues/97

[2022-11-07 19:36] fratzinger commented on #90
Nice. Thanks for your work and this great package! 🙏

[2022-11-07 19:36] #90 closed

[2022-11-08 23:22] #102 closed

[2022-11-20 12:58] ThomasAribart commented on #97
@lcsmuller should be alright since v2.6.1 👍 Can you give it a shot ?

[2022-11-20 14:19] lcsmuller commented on #97
Sure! I'm still getting the same error JS syntax error, but I've noticed you have now added transpiling it to `esm/` and `cjs/` directories, how do I make sure the `.ts` file I'm importing from will use reference the `.js` files from `esm/`? I apologize for the newbie question!

[2022-11-21 12:25] yannickrocks commented on #97
I am also getting the same error.

[2022-11-21 12:50] efstathiosntonas opened #106 "node 18 support"
Hi, can you please add support for node `18.x`?

My CIs are failing with while deploying to aws lambda:
`error json-schema-to-ts@2.6.1: The engine "node" is incompatible with this module. Expected version "^16.10.0". Got "18.12.1"`

[2022-11-21 13:12] smeijer commented on #106
Use 2.6.0 as a temporary workaround. That version doesn't have the `engine` restriction in package.json.

[code]

[2022-11-21 17:09] alphaone commented on #45
@ThomasAribart Will the `satisfies` operator of Typescript 4.9 make it possible to check the type against `JSONSchema`?

[2022-11-22 11:28] ThomasAribart commented on #45
Yup :) Gonna add it to the docs !

[2022-11-23 12:45] flugg opened #107 "Custom JSON Schema type"
Greetings!

Superb library - we would love to utilise it in our projects, however, we've created a custom type for our superset of JSON Schema to support our custom vocabularies (including Ajv's `$data` reference etc.). However, the `FromSchema` type complaints about the provided type being incompatible with this package's own `JSONSchema` type.

Any idea how to solve this? Would it be possible to

[2022-11-24 14:34] smeijer opened #108 "support unevaluatedProperties"
With `unevaluatedProperties: false`, additional keys `{ [key: string]: unknown }` should not be allowed. The `unevaluatedProperties` keyword is similar to `additionalProperties` except that it can recognize properties declared in subschemas.

https://json-schema.org/understanding-json-schema/reference/object.html#unevaluated-properties

[2022-11-29 12:25] ThomasAribart commented on #107
Hello @flugg ! FYI, `FromSchema` already accepts custom types but you would need at least one property in common with `JSONSchema`:

[code]

Maybe I can add `& Record<string, unknown>`  to the constraint, I'll see what I can do.

[2022-11-29 12:25] ThomasAribart commented on #107
(sorry misclick, didn't want to close)

[2022-11-29 12:26] ThomasAribart commented on #108
Hi @smeijer and thanks for the heads up ! I'll look into it ASAP!

[2022-11-29 12:39] ThomasAribart commented on #106
Hi @efstathiosntonas and thanks for the heads up !

I increased node support to `>=16` in the [2.6.2-beta.0](https://www.npmjs.com/package/json-schema-to-ts/v/2.6.2-beta.0), can you try it and confirm that it works ?

[2022-11-29 12:45] ThomasAribart commented on #97
@lcsmuller Normally you shouldn't need to worry about that, it's done under the hood by node (I think `ts-node` will use commonjs imports though).

See https://webreflection.medium.com/cjs-vs-esm-5f8b90a4511a

TL:DR, `cjs` is the "old" way of importing JS, still needed for backward compatibility, `esm` is the "new" way. The `package.json` exposes two keys, `main` and `module`, so both code can be

[2022-11-29 18:17] flugg commented on #107
Thanks for the reply @ThomasAribart! I did some checks, and when using `FromSchema` with a literal schema type (generated from the custom JSON Schema type) everything works. But when trying to create a type that extends `FromSchema` with type safety for our custom JSON Schema type, it fails. For instance:

[code]

[2022-11-30 07:49] AntonOellerer commented on #106
Hey, I am currently working on a simple service and the beta works fine for me :)

[2022-11-30 10:32] flugg commented on #107
I think I actually found a solution for this:

[code]

[2022-11-30 11:21] azizghuloum commented on #97
Hello,

There is a problem in the package itself I believe.  Tried with NodeJS 19, 18, and 16.  Tried with an empty project that depends only on `json-schema-to-ts` (no typescript, no nothing).

[code]

[code]

[code]

It doesn't seem that node understands that syntax (Is this really valid commonjs export syntax?).

Digging further, trying to load the package as ES module, not as CJS.  I added `"t

[2022-11-30 11:31] azizghuloum commented on #97
TLDR:

Try `node --require json-schema-to-ts` vs `node --import json-schema-to-ts` from the command line.
1. They both resolve to the same file (which they shouldn't).
2. Node cannot load that file.

Now hack your `package.json` to include:
[code]

Now `--import` tries to import the ESM file and succeeds (Phew) while `--require` tries to import the CJS file and fails because of the invalid syntax.

[2022-11-30 15:02] azizghuloum commented on #97
Looking at `babel.config.js`, and reading https://babeljs.io/docs/en/babel-preset-env#modules

You have:

[code]

Aren't these simply backward?

[2022-11-30 16:46] azizghuloum commented on #97
https://github.com/ThomasAribart/json-schema-to-ts/pull/110

[2022-11-30 21:13] ThomasAribart commented on #107
Yes, indeed you can cast like this :) Can I close this issue ?

[2022-11-30 21:14] ThomasAribart commented on #97
@azizghuloum I actually think you're right, bad copy-paste on my side from another project :)

Can you remove the change in the `package.json` ? And I merge this right away

[2022-11-30 22:49] azizghuloum commented on #97
Done and thanks for the great work BTW. 👍